[package]
name = "hyperinfer-python"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }

[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.20", features = ["extension-module"] }
hyperinfer-client = { path = "../hyperinfer-client" }